@model Final_Nettbutikk.ViewModels.CheckoutViewModel
@using Final_Nettbutikk.DAL;


@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/js-cookie.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script>

        function updateCartProduct(cartProductId) {

            var spinnerId = "#spinner" + cartProductId;
            var newQuantity = $(spinnerId + " option:selected").text();

            var cookieStr = Cookies.get('product' + cartProductId);
            var productId = cookieStr.substring(0, cookieStr.indexOf("&"));

            cookieStr = productId + "&" + newQuantity;
            Cookies.set('product' + cartProductId, cookieStr, { expires: 1 });

            window.location.href = '/Home/Checkout';
        }

        function removeCartProduct(cartProductId) {

            var cartSizeCookieStr = Cookies.get('cart_size');
            var cartSize = parseInt(cartSizeCookieStr);

            for (i = cartProductId; i < cartSize - 1; i++) {

                var nextProductCookieStr = Cookies.get('product' + (i + 1));

                Cookies.set('product' + i, nextProductCookieStr, { expires: 1 });

            }

            Cookies.remove('product' + (cartSize - 1));

            var newSize = cartSize - 1;

            if (newSize <= 0) {
                Cookies.remove('cart_size');
            } else {
                Cookies.set('cart_size', newSize, { expires: 1 });
            }       
            
            window.location.href = '/Home/Checkout';
        }

    </script>

</head>
<body>
    <div class="row" style="padding-left: 40px; padding-top: 40px; padding-right: 40px;">
        <div class="col-md-8" style="border: 2px solid #ddd; border-radius: 10px;">
            <h2>Shopping cart</h2>
            <hr />

            @{
                //Loop over all the cart elements and add a div for each of them
                if (Model.CartSize < 1)
                {
                    <h3>There are currently no products in your cart</h3>
                    goto CartEnd;
                }

                //prod1 og prod2 carsize = 2

                for (int i = 0; i < Model.CartSize; i++)
                {
                    string current = Convert.ToString(i);
                    string spinnerId = "spinner" + current;
                    string totalId = "total" + current;

                    <div class="row" style="padding-left: 20px; padding-bottom: 5px;">
                        <div class="container-fluid">
                            <img src="@Model.Bilder[i].BildeSti" height="150" width="150" style="float: left; padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;" />

                            <div style="padding-top: 10px; float: left">
                                <h4>@Model.Produkter[i].Navn</h4>
                                <p>Id: @Model.Produkter[i].ProduktId</p>
                                <p>Pris: @String.Format("{0:n}", Model.Produkter[i].Pris) kr</p>
                            </div>

                            <div style="float: left; padding-left: 40px; padding-top: 20px; padding-right: 15px; padding-bottom: 10px;">

                                <p>Antall:</p>
                                <select id="@spinnerId" class="form-control selectpicker">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>

                                <p id="@totalId">Total: @String.Format("{0:n}", (Model.Produkter[i].Pris * Model.Antall[i])) kr</p>

                                <button class="btn btn-danger" onclick="removeCartProduct(@current)">Remove</button>

                            </div>

                            <script>
                                spinner = "#@spinnerId";

                                $(spinner).val(@Model.Antall[i]);
                                $(spinner).change();

                                $(spinner).on('change', function () {
                                    updateCartProduct(@i);

                                    //var selected = $(this).find("option:selected").val();
                                    //totalFieldId = "#@totalId";
                                    //$(totalFieldId).text("Total: " + (selected * @Model.Produkter[i].Pris) + " kr");

                                });

                            </script>

                        </div>
                    </div>
                    <hr />
                }

            CartEnd:
            }


        </div>

        <div class="col-md-3" style="float: right; border: 2px solid #ddd; border-radius: 10px;">
            <h2>Oversikt</h2>
            <hr />
            <p id="totalPris">Totalt: @String.Format("{0:n}", Model.TotalPrice) kr</p>
            <br />
            <p>Frakt: 0kr</p>
            <br />
            <p>Rabatt: -0kr</p>
            <h3 id="endeligPris">Endelig pris: @String.Format("{0:n}", Model.TotalPrice) kr</h3>
            <br />
            <button class="btn btn-success btn-block" style="margin-bottom: 10px" onclick="location.href = '/Home/Receipt';">Place order</button>
        </div>

    </div>

</body>
</html>
