@using Nettbutikk.Models.Binding
@using Nettbutikk.Helpers
<div class="header">
    <div class="container">
        <div class="header_logo">
            logo
        </div>
        <div class="header_search">
            search
        </div>
        <div class="header_options">
            <div class="header_login">
                @if (!User.Identity.IsAuthenticated)
                {
                @AccountsHelper.LoginLink(Html)
                <span> | </span>
                @AccountsHelper.RegisterLink(Html)
                }
                else
                {
                    <span style="color:forestgreen">Logget inn</span>
                    <span> | </span>
                    @Html.ActionLink("Logg ut", "Logout", "Account")
                    <span> | </span>
                    @Html.ActionLink("Min side", "Details", "Account")
                }
            </div>
            <div class="header_shop">
                <div class="header_shoppingcart">Handlekurv</div>
                <div class="header_checkout">Til kassen</div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_LoginModal", new AccountLogin())
@Html.Partial("_RegisterModal")


