@using Nettbutikk.Models.Binding
@using Nettbutikk.Helpers

<div class="backbar-top"></div>

<div class="header backbar-mid">
    <div class="container">
        <div class="header_logo">
            <img src="~/Images/logo-tank.png" alt="Logo showing a tank" />
        </div>
        <div class="header_search">
            <div class="searchfield">
                <span class="glyphicon glyphicon-search search_icon"></span>
                <input id="inputProductSearch" type="search" class="form-control" placeholder="Søk i produkter" />
                <span id="searchText" style="position:absolute;top:35px;left:25px;"></span>
            </div>

        </div>
        <div class="header_options">
            <div class="header_login">
                @if (!User.Identity.IsAuthenticated)
                {
                    @AccountsHelper.LoginLink(Html);
                    @AccountsHelper.RegisterLink(Html);
                }
                else
                {
                    <span class="login-link" style="color:forestgreen">Logget inn som @User.Identity.Name</span>
                    @AccountsHelper.LogoutLink(Html)
                    @AccountsHelper.HomeLink(Html)
                }
            </div>
            <div class="header_shop">
                <div class="header_shoppingcart">
                    <a href="/cart" class="btn btn-primary">Handlekurv <span class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
                <div class="header_checkout">
                    <a href="/cart/checkout" class="btn btn-danger">Til kassen <span class="glyphicon glyphicon-credit-card"></span></a>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_LoginModal", new AccountLogin())
@Html.Partial("_RegisterModal", new RegisterAccount())

<script>
    $(document).ready(function () {
        $("#inputProductSearch").on("keyup", function () {
            $("#searchText").text($(this).val())
        })

        $("#Logout").click(function () {

            $.ajax({
                url: '@Url.Action("Logout","Account")',
                method: "post",
                success: function () {

                    window.location.reload();
                }, error: function (result) {
                    alert("error: " + JSON.stringify(result));
                }
            })
        })
    })

</script>
