@model Nettbutikk.Models.Binding.RegisterAccount

@{
    var attributes = new Dictionary<string, object>() {
        {"data-toggle", "modal" }
    };
}


<div id="RegisterModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h2>Registrer deg her</h2></div>
            <div class="modal-body table">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, attributes))
{
    <span id="messageRegister" style="color:red"></span>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="table-modal">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.EditorFor(model => model.Email)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Password)</td>
            <td>@Html.EditorFor(model => model.Password)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ConfirmPassword)</td>
            <td>@Html.EditorFor(model => model.ConfirmPassword)</td>

        </tr>
        <tr>
            <td><button class="btn btn-danger" data-dismiss="modal">Avbryt</button></td>
            <td><button id="btnRegister" type="button" class="btn btn-success" value="Registrer">Registrer</button></td>
        </tr>
    </table>
}
                </div>
            </div>
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")

    <script>
        $(document).ready(function () {
            $("button[data-dismiss='modal']").click(function () {
                $("#messageRegister").html("");
                $("#RegisterModal #Email").html("");
                $("#RegisterModal #Password").html("");
                $("#RegisterModal #ConfirmPassword").html("");
            })

            $("#btnRegister").click(function () {

                var email = $("#RegisterModal #Email").val();
                var password = $("#RegisterModal #Password").val();
                var repeatPassword = $("#RegisterModal #ConfirmPassword").val();

                var customer = {
                    email: email,
                    password: password,
                    confirmPassword: confirmPassword
                }

                $.ajax
                ({
                    url: '@Url.Action("Register", "Account")',
                    data: customer,
                    method: "post",
                    success: function (result) {
                        if (result == "False") {
                            $("#messageRegister").html("Feil med registrering");
                        }
                        else if (result == "True") {
                            window.location.reload();
                        }
                    }, error: function () {
                        alert("error: " + result);
                    }
                })
            })
        });
    </script>