@model Nettbutikk.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        <dt>Orders:</dt>
        <dd>
            <ul>
                @foreach (var order in Model.Orders)
                {
                    <li>@Html.RouteLink("Order#" + order.Id, new { controller = "order", action = "details", id = order.Id})
                        <p>Placed at @order.PlacementDateTime</p></li>
                }
            </ul>
        </dd>
    </dl>
</div>
